;; shadow-cljs configuration
{:source-paths ["src" "test"]

 :dependencies [[funcool/httpurr "2.0.0"]
                [clj-kondo "2022.09.08"]]

 :npm-deps {"@actions/core" "1.10.0"
            "@actions/github" "5.1.0"
            "@octokit/core" "4.0.5"}

 ;; set an nrepl port for connection to a REPL.
 :nrepl {:port 42001}
 :builds {:main {:target :node-script
                 :compiler-options {:optimizations :simple}
                 :output-to "resources/main.js"
                 :output-dir "resources"
                 :main wrike-ist.core/main}
          :test {:target :node-test
                 :output-to "resources/test.js"
                 :autorun true}}}
