;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[clj-kondo "2021.04.23"]]

 ;; set an nrepl port for connection to a REPL.
 :nrepl {:port 42001}
 :builds {:main {:target :node-script
                 :output-to "resources/main.js"
                 :main wrike-ist.core/main}}}
