;; shadow-cljs configuration
{:source-paths ["src"]

 :dependencies [[funcool/httpurr "2.0.0"]
                [clj-kondo "2021.04.23"]]

 :npm-deps {"@actions/core" "1.3.0"
            "@actions/github" "1.1.0"
            "@octokit/core" "3.4.0"}

 ;; set an nrepl port for connection to a REPL.
 :nrepl {:port 42001}
 :builds {:main {:target :node-script
                 :output-to "resources/main.js"
                 :output-dir "resources"
                 :main wrike-ist.core/main}}}
